<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/page.css">
    <title>Participatory Budgeting</title>
</head>
<body>
    <p id="language">English | Español</p>
    <h1>49th Ward Participatory Budgeting</h1>
    <h2>2022 / 2023 cycle</h2>
    <p>Voting has concluded for the 2022/2023 Participatory Budgeting cycle.</p>
    <p class="feedback-bubble">
        Explore the projects that received the most votes and the allocations proposed by the residents.
    </p>
    <p id="feedback-bubble-map">
        Here you can compare participation across Wards, relative to each
        Ward’s demographics for the 2022/2023 Participatory Bugeting.
    </p>
    <label for="wards">Select two wards:</label>
    <select name="wards" id="ward_number">
        <option value="Ward 29">Ward 29</option>
        <option value="Ward 35">Ward 35</option>
        <option value="Ward 36">Ward 36</option>
        <option value="Ward 49">Ward 49</option>
    </select>
</body>
</html>