<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/page.css">
    <title>Participatory Budgeting</title>
</head>
<body>
    <p id="language">English | Español</p>
    <h1>49th Ward Participatory Budgeting</h1>
    <h2>2022 / 2023 cycle</h2>
    <h3>How were the project proposals selected?</h3>
    <p>
        All listed projects were suggested and vetted by 49th Ward residents. From August to September 2022, 
        community representatives met regularly in committees to determine which project proposals to place on this 
        year’s ballot.
    </p>
    <p class="italic">
        <span id="note">Note:</span> Participation in the 49th Ward participatory budgeting process as a community 
        representative and/or as an attendee  at a neighborhood assembly was entirely voluntary and open to all 49th 
        Ward residents, regardless of citizenship or voter registration.
    </p>

    <p id="chart-option"><span id="rank">Rank</span> <span id ="separator">|</span> <span id="allocate">Allocate</span></p>

    <p class="button">Next</p>
    <p class="button">Submit</p>

    <p>Thank you for choosing 4 projects to receive menu money in our Ward!</p>
    <p>
        For transparency purposes, we are running a <span class="bold">short survey</span>. Your information will be 
        anonymized andcannot be traced back to you. Answers will allow us to better understand participation and
        representation in this Participatory Budgeting cycle.
    </p>

    <p>
        All questions are optional. Information will be aggregated and publicly displayed here after voting
        ends on November 30, 2022.
    </p>
    <p class="button">Continue</p>
    <!-- The survey goes here -->
    <p class="button">Submit</p>
    <p>Not every ward votes on the same issues, so we clustered them in the categories below for comparability.</p>
    <p class="feedback-bubble">
        Here’s how your personal budget allocation compares to other Ward residents
    </p>

    <p class="center">Thank you for your inputs!</p>
    <p>
        Please check back on <span class="bold">December 5, 2022</span> to see the Ward’s voting results. If
        you registered your email address, you will receive updates and the final results.
    </p>
    
</body>
</html>